
html { 
    scroll-behavior: smooth;
    /*background: url(/timer/assets/images/freelan.png) no-repeat center center fixed !important; 
    background-size: cover !important;*/
    background: #000000;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    opacity: .9;
    text-align: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg,
input {/*
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;*/
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

/*-- wrapper start --*/
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-- //wrapper start --*/

/*-- form styling --*/
.w3lvide-content{
    width:100%;
   height:100vh;
    position: relative;
    z-index:0;
  }
  .w3lvide-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 100%;
    background-color: rgb(0 0 0 / 0%);
  }
  video,
div video {
    z-index:1!important;
  }

.workinghny-form-grid {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
  
}
.workinghny-form-grid .main-hotair{
    max-width: 400px;
    margin: 0 auto;
}
.w3l-workinghny-form .logo {
    text-align: center;
}
.content-wthree h1 {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.content-wthree input, select{
    outline: none;
    font-size: 12px;
    color: #999;
    text-align: left;
    padding: 10px 10px;
    height: 34px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f7fafc;
    border: 1px solid #e5e5e5;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
textarea{
    outline: none;
    margin-bottom: 15px;
    font-size: 12px;
    color: #999;
    text-align: left;
    padding: 10px 10px;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f7fafc;
    border: 1px solid #e5e5e5;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.content-wthree input:focus {
    border: 1px solid #fff;
}
button {
    font-size: 12px;
    color: #fff;
    /*width: 100%;*/
    background: #ff6d00;
    border-left: 1px solid #ffba85;
    border-top: 1px solid #ffba85;
    border-right: 1px solid #af4c00;
    border-bottom: 1px solid #af4c00;
    
    padding: 12px 5px;
    font-weight: 700;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    display: inline;
    float: left;
}



.btn3 {
    font-size: 10px;
    color: #fff;
    /*width: 100%;*/
    background: #ff6d00;
    border-left: 1px solid #ffba85;
    border-top: 1px solid #ffba85;
    border-right: 1px solid #af4c00;
    border-bottom: 1px solid #af4c00;
    padding: 0;
    display: block;
    font-weight: 700;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    overflow: hidden;
    height: 18px;
    display: inline;
    float: left;
}

.toggleButtonHolder {
    width: 20px;
    display: inline-block;
    float: left;
}
.content-wthree button:hover {
    opacity:0.8;
}
p.continue {
    margin: 30px 0 20px 0;
}
.social-login {
    text-align: center;
}
.social-login a span.fa {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-right: 18px;
}

.social-login a span.fa:hover {
    color: #ff6d00;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.copyright {
    margin-top: 20px;
    padding: 2em 0;
}
.copyright p {
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
    opacity: 1;
}

p.copy-footer-29 a {
    color: #fff;
}

p.copy-footer-29 a:hover {
    color:#fdc500;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}


/* -- placeholder --*/


/*-- responsive design --*/

@media (max-width:800px) {
    .workinghny-form-grid {
        top: 14%;
        margin: 0 auto;
    }
    .copyright p {
        padding:0 10px;
    }
}

@media (max-width:568px) {
    .workinghny-form-grid {
        top: 10%;
        margin: 0 auto;
    }
    .workinghny-form-grid .main-hotair {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 415px) {

}

@media (max-width:384px) {
  

}
#timers                     { height: 60vh; overflow:auto; margin-top: 20px; }
#disabled                   { display: none; opacity:1; background-color:#000000; color: #ffffff; text-align: center; position:fixed; width:100%; height:100%; top:0px; left:0px; z-index:1000; }
#status                     { font-weight: bold; color: #ff0000; }
#footer                     { position: fixed; bottom: 0; width: 100%; }
#roomName                   { color: #000;   }
#sceneChangeLogo            { width: 100px; height: 50px; position: fixed; bottom: 0px; right: 0px;  background-image: url(/timer/assets/images/sceneChangeLogo.png); z-index: 2500; }
#backButton                 {  }

.text-input                 {  width: 50vw; height: 20vh; text-align: center; font-size: 25.5vw;}
#code-input-div             { opacity:1; background-color:#000000; color: #ffffff; text-align: center; 
    position:fixed; width:100vw; max-width: 100%; height:100vh; max-height: 100%; top:0px; left:0px; z-index:1000; font-size: 5vw; }
#offline-div                { opacity:1; background-color:#000000; color: #ffffff; text-align: center; 
    position:fixed; width:100vw; max-width: 100%; height:100vh; max-height: 100%; top:0px; left:0px; z-index:1000;                                           
    display: none;font-size: 10px; }
    #offline-div-content        { padding: 20px; background-color: rgba(0,0,0,1); position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); display: none; z-index:1001;  color: #fff; text-align: center;}
#offline-div-content img { width: 60px; height: 60px; margin: auto; }
#code-div                   { position: relative; top: 50%; transform: translateY(-50%); font-size: 25.5vw;  }
#code-div a { color: #FFFFFF; }
#code-div a:hover { color: #FFFFFF; }
#code-div a:visited { color: #FFFFFF; }
.medium                     { width: 80px; }
.mediumSmall                { width: 60px; }
.small                      { width: 40px; }
.tiny                       { width: 25px; }
.teeny                      { width: 20px; height: 20px;}
.timeInput                  { width: 50px; }
.width100                   { width: 100px; }
.width100PCT                { width: 100%; }
.width50PCT                 { width: 50%; }
.width200                   { width: 200px; }
.timeStopButton             { display: none; background-color: #ff0000; }
.code-input                 { font-size: 10vw;  }
.inline                     { display: inline; }
.inline-block               { display: inline-block; }
.marginLeft5                { margin-left: 5px; }
.marginTop5                 { margin-top: 5px; }
#loadingDots                { font-size: 50px; }
.workinghny-form-grid       { top: 0px; }
button:disabled             { background: #707070; cursor: not-allowed; 
    border-left: 1px solid #8a8989;
    border-top: 1px solid #8a8989;
    border-right: 1px solid #646464;
    border-bottom: 1px solid #646464; }
.disabled                   { background: #707070; 
    border-left: 1px solid #8a8989;
    border-top: 1px solid #8a8989;
    border-right: 1px solid #646464;
    border-bottom: 1px solid #646464; }
.running                    { background: #27b348; }
.cued                       { background: #32a852; }
.timer-name                 { display: inline; float: left; }
.timer-id                   { display: inline; float: right; }
.vAlignTop                  { vertical-align:top; }
.textAlignRight             { text-align: right; }
#controllerScreenId         { font-size: 10px; position: fixed; bottom: 0px; left 0px; color: #ffffff; z-index: 2600; }
#monitorScreenId            { font-size: 10px; position: fixed; bottom: 0px; left 0px; color: #ffffff; }
#logButton                  { font-size: 10px; position: fixed; bottom: 0px; right 0px; color: #ffffff; }

.checkboxType               { height: 16px; width: 16px; font-size: 5px; line-height: 16px; margin-left: auto; padding: 0; float: none; margin-top: 8px; }
#timerIdHolder              { display: inline; float: left; }
#timerIdHolderCode          { float: right; }
#monitorScreensWrapper      { color: #ffffff; font-size: 10px; clear: both; text-align: left; }
.timerScreenWrapper         { width: 300px; max-width: 300px; height: 170px; max-height: 170px; border: 1px solid #FFFFFF; background: #000000; display: inline-block; background-size: cover !important; position: relative;}
.timerScreenSubWrapper      { width:100%; max-width: 100%; height:100%; max-height: 100%; top:0px; left:0px; }
.floatRight                 { float: right; }
.clearBoth                  { clear: both; }
.timerMessage               { display: inline; color: #fff; font-weight: bold; float: left; display: none; cursor: pointer;}
.timerScreenNameWrapper     { display: inline-block; padding: 10px;  overflow: hidden; height: 201px; max-height: 201px; }
.timerClock                 { width: 100%; display: block; margin:  auto; color: #FFF; text-align: center; font-size: 60px; position: relative; top: 50%; transform: translateY(-50%);}
.presenter-name             { font-size: 20px; width: 80%; text-align: center; left: 0;  right: 0;  margin: 0 auto; color: #FFF; position: relative; top: 25%; transform: translateY(-75%);}
.message-div                { border: 1px solid #ffffff; opacity:1;background-color: rgba(0,0,0,0.6); color: #ffffff; text-align: center; width:85%; max-width: 85%; height:85%; max-height: 85%; z-index:1000; display: none; 
                              position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);   overflow: hidden; text-align: left; padding: 10px; }
 .closeButton               { width: 20px; height: 20px; background-color: #FF0000; color: #FFFFFF; margin: 5px; text-align:center; line-height: 20px; cursor: pointer; position: absolute; top: 0px; right: 0px; }       
.modal                      { display: none; 
                              position: fixed; 
                              z-index: 3000; 
                              left: 0;
                              top: 0;
                              width: 100%; 
                              height: 100%; 
                              overflow: auto; 
                              background-color: rgb(0,0,0); 
                              background-color: rgba(0,0,0,0.4); 
                              font-size: 10px; }


.modal-content              { background-color: #fefefe;
                              margin: 15% auto; /* 15% from the top and centered */
                              padding: 20px;
                              border: 1px solid #888;
                              
                              max-width: 400px; }
.modal-content h2           { color: #000; }
.modal-content p            { color: #000; }
.modal td                   { padding-top: 10px; }
/* width */
.width100 {width: 100%; }
.width95 {width: 95%; }
.width90 {width: 90%; }
.width85 {width: 85%; }
.width80 {width: 80%; }
.width75 {width: 75%; }
.width70 {width: 70%; }
.width65 {width: 65%; }
.width60 {width: 60%; }
.width55 {width: 55%; }
.width50 {width: 49%; }
.width40 {width: 40%; }
.width30 {width: 30%; }
.width20 {width: 20%; }

.height100 {
    height: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
.timePickerLabel {
    font-size: 12px;
    color: #fff;
    background: #ff6d00;
    border: none;
    font-weight: 700;
}

.currentTimer {
    background: rgba(255, 255, 255, 0.158);
}
#QRDiv                      { width: 250px; height: 250px; margin: auto; }
.endTimeHolder              { font-size: 8px; color: #ffffff; width: 130px; display: inline; }
.timerEndTimeInput          { width: 130px; }
.timerDiv                   { border-top: 2px solid rgba(255, 255, 255, 0.2); height: 200px; width: 95%;}
.timerDivLeft               { float: left; height: 100%;  width: 5%; background: rgba(255, 255, 255, 0.03); cursor: pointer;}
.timerDivRight              { float: left; height: 100%;  padding: 20px; width: 95%;  }
.timerCuedDiv               { background-color: #27b348; display: none; width: 100%;}
.timerRunningDiv            { background-color: #ff0000; display: none; width: 100%; }
.timerStatusDiv             { height: 100%; }
.noPad                      { padding: 0; }

.timerHeader h3             { display: inline; vertical-align: middle; }
.timerHeader                { line-height: 20px;  height: 20px;}
.timerHeaderText            { color: #fff; font-weight: bold; display: inline;  vertical-align: middle; }
.timerTime                  { width: 95px; height: 36px; color: #fff; font-weight: bold; line-height: 33px; font-size: 15px;  text-align: center; vertical-align: middle; float: left; padding: 0px 20px; background: #222222; }
.flashButton                { 
    background-color: #ff0000; 
    border-left: 1px solid #ff4545;
    border-top: 1px solid #ff4545;
    border-right: 1px solid #790000;
    border-bottom: 1px solid #790000; }
.timerEndTimeButton         { font-size: 10px; height: 34px; }

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.ui-loader {
    display: none;
}
